/*网站样式参数*/
$header_height:60px;

// 网站主色调
$c_black:rgb(35,35,35);
$c_purple:rgb(150,70,150);
$c_blue:rgb(140,188,247);
$c_red:#f1462a;

// color
$color_navy:rgb(54,61,77);
$color_green:rgb(70,183,85);
$color_offwhite:rgb(240,242,247);
$color_font_navy:rgb(60,74,102);
$color_font_gray:rgb(98,103,115);
