@import 'var';
#slide{
	position: relative;
	ul,li{
		width: 100%;
		height: 100%;
	}
	li{
		overflow: hidden;
		z-index: 1;
		position: absolute;
		background-color: #eee;
		border:1px solid #eee;
		box-sizing: border-box;
		left: 0;
		top: 0;
		&.dis{
			animation: slideShow 0.5s 0 ease-in-out;
			-webkit-animation: slideShow 0.5s 0 ease-in-out;
		}
		&.undis{
			animation:slideHide 0.3s 0 ease-in-out;
			-webkit-animation:slideHide 0.3s 0 ease-in-out;
		}
	}
	a{
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	img{
		height: auto;
		width: 100%;
	}
	p{
		position: absolute;
		z-index: 3;
		width: 100%;
		height:40px;
		line-height: 40px;
		background-color: rgba(0,0,0,.4);
		bottom: 0;
		left: 0;
		box-sizing:border-box;
		padding-left:10px;
		font-size: 16px;
		color: #fff;
	}
	.point{
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 10;
		i{
			cursor: pointer;
			width:10px;
			height:10px;
			border-radius:3px;
			background-color: #eee;
			&.active{
				background-color: $c_blue;
			}
			display: inline-block;
			margin: 0 3px;

		}
	}
}

@keyframes slideShow {
	from { 
		opacity: 0;
	 }
	to { 
		opacity: 1;
	 }
}
@-webkit-keyframes slideShow {
	from { 
		opacity: 0;
	 }
	to { 
		opacity: 1;
	 }
}
@keyframes slideHide {
	from { 
		opacity: 1;
	 }
	to { 
		opacity: 0;
	 }
}
@-webkit-keyframes slideHide {
	from { 
		opacity: 1;
	 }
	to { 
		opacity: 0;
	 }
}