/*声明 WebFont*/
@font-face {
  font-family: 'nav';
  src:url('./../font/nav.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title';
  src:url('./../font/title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
